@import "variables";
@import "mixins";
@import "_components/search-form";
@import "_components/nav-bar";
@import "_components/footer";
@import "_components/contact";
@import "_components/header";


body {
    background-color:$color_primaire;
    @include desktopView($breackpoint) {
        background-color:rgb(255, 255, 255);
    }
}

p {
    color:rgb(104, 59, 182);
}
.sidebar{
    background: $color_primaire_fonce;
    padding: 1rem;
}

    