.site_header {
  display: flex;
  border: 1px solid pink;
  margin: .5rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  border: 1px solid pink;
  margin: 1rem;
  flex-wrap: wrap;
}
.menu {
  border: 1px solid pink;
  padding: 1rem;
  margin: 1rem;
  display : flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  gap: 3rem;
  padding-right: 1rem;
}
a {
  text-decoration: none;
  color: #ba6219;
  border: 1px dashed pink;
  padding: .5rem;
  transform: scale 10%;
}
  
